services:

  backend:
    container_name: fastapi_app
    build:
      context: backend
      dockerfile: Dockerfile
    env_file:
      - ./backend/backlog_app/.env
    expose:
      - "8000"
    depends_on:
      pg:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app-network

  frontend:
    container_name: vite_vue_frontend
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: /api
    expose:
      - "80"
    depends_on:
      backend:
        condition: service_started
    restart: unless-stopped
    networks:
      - app-network

  pg:
    image: postgres:18
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      PGDATA: /var/lib/postgresql/data/pgdata
    expose:
      - "5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend
      - frontend
    restart: unless-stopped
    networks:
      - app-network

  dockhand:
    image: fnsys/dockhand:latest
    container_name: dockhand
    restart: unless-stopped
    expose:
      - "3000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - dockhand_data:/app/data
    networks:
      - app-network

volumes:
  pgdata:
  dockhand_data:

networks:
  app-network:
    driver: bridge
