BACKLOG__DB__CONNECTION__HOST=pg
BACKLOG__DB__CONNECTION__PORT=5432
BACKLOG__DB__CONNECTION__USERNAME=postgres
BACKLOG__DB__CONNECTION__PASSWORD=postgres
BACKLOG__DB__CONNECTION__NAME=backlog

BACKLOG__TASKIQ__RBMQ_HOST=rabbitmq
BACKLOG__TASKIQ__RBMQ_PORT=5672
BACKLOG__TASKIQ__RBMQ_USERNAME=guest
BACKLOG__TASKIQ__RBMQ_PASSWORD=guest

BACKLOG__SMTP__USERNAME=
BACKLOG__SMTP__PASSWORD=
BACKLOG__SMTP__SERVER=127.0.0.1
BACKLOG__SMTP__PORT=1025
BACKLOG__SMTP__USE_TLS=False

BACKLOG__ACCESS_TOKEN_DB__RESET_PASSWORD_TOKEN_SECRET=
BACKLOG__ACCESS_TOKEN_DB__VERIFICATION_TOKEN_SECRET=

BACKLOG__AI_AGENT__BASE_URL=
BACKLOG__AI_AGENT__ACCESS_ID=
BACKLOG__AI_AGENT__TOKEN=

BACKLOG__SUPERUSER__EMAIL=admin@site.com
BACKLOG__SUPERUSER__PASSWORD=admin
