@import "tailwindcss";

@theme {
  /* Здесь можно добавить кастомные настройки если нужно */
}

/* Base styles */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  min-height: 100vh;
}
